# Raw Query language highlights

#### Enabling RAW <-> Jupyter integration

In [3]:
%load_ext raw_magic

The raw_magic extension is already loaded. To reload it, use:
  %reload_ext raw_magic

#### Just checking that everything is ok

In [15]:
%%query

1+1

In [5]:
%buckets_register raw-tutorial

API error: S3 credentials already exists

## Hierarchical

In [6]:
%%query

select * 
from read_xml("s3://raw-tutorial/ipython-demos/patients.xml").item 
limit 3

In [7]:
%%query
 
patients := read_xml("s3://raw-tutorial/ipython-demos/patients.xml");

SELECT surname, SUM(totalMinutes) AS nurseMinutes
FROM patients.item, chartBasedData.nursingReports.item
GROUP BY name, surname
limit 10

In [8]:
%%query

(
    name: "Airports",
    numbers: [1, 2, 3, 4],
    data: select Name, Country from read("s3://raw-tutorial/airports.csv") limit 10    
)

## Declarations, functions and packages

In [9]:
%%package custom_pkg
// My custom package

// my custom function inside a package
foo(a: int) := {
   a+1
}

// My custom dataset inside a function
data := select foo(n) from n in [1, 2, 3, 4];

data

Package "custom_pkg" was replaced

In [10]:
%%query

from custom_pkg import data

select * from data

## Caching

In [11]:
%%timed_query
SELECT *
FROM read_excel("s3://raw-tutorial/ipython-demos/excel1.xlsx", cache := interval "15 second")

Execution time: 0:00:01.638956

In [12]:
%%timed_query
SELECT *
FROM read_excel("s3://raw-tutorial/ipython-demos/excel1.xlsx", cache := interval "15 second")

Execution time: 0:00:00.091300

## Schema inference

In [13]:
%%query 
describe("s3://raw-tutorial/airports.csv")

#### Also works with databases

In [14]:
%%query
describe("oracle://demo_oracle/rawdemo/datacenters")