In [2]:
%load_ext raw_magic

The raw_magic extension is already loaded. To reload it, use:
  %reload_ext raw_magic

In [89]:
%%query
ll("s3://raw-tutorial/read_many_demo/")

In [84]:
%%query
ls("s3://raw-tutorial/read_many_demo/logs/")

In [83]:
%%query
read_many("s3://raw-tutorial/read_many_demo/logs/")

Showing only 100 values...

In [90]:
%%query

read_many("file:/home/cesar/development/read_many_demo/*.json")

Execution error: failed to read JSON (line 4 column 2) (url: file:/home/cesar/development/read_many_demo/metadata.json): 'name': not found

In [81]:
%%query 

SELECT file, describe(file).columns 
FROM ls("s3://raw-tutorial/read_many_demo/*.json") file

In [80]:
%%query
read_many("s3://raw-tutorial/read_many_demo/person*.json")

In [78]:
%%query

good_files := select file 
        from ls("file:/home/cesar/development/read_many_demo/*.json") file 
        where "name" in (select col_name from describe(file).columns);

typealias person := record(
    name: string, 
    age: int,
    interests: collection(string),
    occupation: string,
    salary: double
)


select read_json[person](file) from good_files file