In [1]:
%load_ext raw_magic

Querying an Excel file from Dropbox. Letting RAW automatically discover the schema. Cache set to 15 seconds, i.e. "give me data if it is 15 seconds or younger; if older, go back to source."

First query takes a bit longer...

In [2]:
%buckets_register raw-tutorial

API error: S3 credentials already exists

In [5]:
%%timed_query
SELECT *
FROM read_excel("s3://raw-tutorial/ipython-demos/excel1.xlsx", cache := interval "15 second")

Execution time: 0:00:02.566150

Second query is faster because we're reading from our caches. (RAW definitely caches this data since it's remote - Dropbox - and store in a non-optimal format - Excel.)

In [6]:
%%timed_query
SELECT *
FROM read_excel("s3://raw-tutorial/ipython-demos/excel1.xlsx", cache := interval "15 second")

Execution time: 0:00:00.805501