A person from marketing is preparing a campaign and is working its budget allocations per city using [an Excel file](https://www.dropbox.com/s/ssjxk3j58iuwfai/campaign.xlsx?dl=1).
The person would like to augment the data using external sources in order to get a better plan.

In [8]:
%load_ext raw_magic

The raw_magic extension is already loaded. To reload it, use:
  %reload_ext raw_magic

In [9]:
%buckets_register raw-tutorial

API error: S3 credentials already exists

In [3]:
%%view campaign
SELECT *
FROM read_excel("s3://raw-tutorial/ipython-demos/campaign.xlsx", cache := interval "1 day")

In [4]:
%%query
SELECT *
FROM campaign
ORDER BY Location

CDR information could be used to get interesting statistics about phone calls in regions where the campaign is going to take place. It is found in large text log files.
```
59cc3bd800e83d965300166d|928147382718783|928147382718999|2016-07-05 00:01:41|2016-07-05 00:01:41|call
59cc3bd700e83d9653001614|928147382720125|928147382719444|2016-07-05 00:03:25|2016-07-05 00:12:17|call
59cc3bf2f0b8ac50d1001781|928147382719070|928147382720180|2016-07-05 00:04:52|2016-07-05 00:04:54|SMS
59cc3bd800e83d965300164e|928147382718877|928147382719907|2016-07-05 00:07:23|2016-07-05 00:07:24|SMS
59cc3bdb00e83d9653001712|928147382719498|928147382719102|2016-07-05 00:07:29|2016-07-05 00:07:29|SMS
59cc3becf0b8ac50d100165b|928147382719541|928147382720077|2016-07-05 00:08:50|2016-07-05 00:11:00|call
59cc3bd900e83d965300168b|928147382719249|928147382719136|2016-07-05 00:12:25|2016-07-05 00:12:25|SMS
59cc3bf1f0b8ac50d100175a|928147382718251|928147382718436|2016-07-05 00:12:57|2016-07-05 00:16:58|call
59cc3bda00e83d96530016d9|928147382718421|928147382719367|2016-07-05 00:13:13|2016-07-05 00:13:15|SMS
59cc3bd900e83d9653001687|928147382719942|928147382718754|2016-07-05 00:13:21|2016-07-05 00:17:49|call
59cc3becf0b8ac50d1001658|928147382718600|928147382718599|2016-07-05 00:13:49|2016-07-05 00:14:01|call
```
CSV files can be easily loaded in RAW (using `read_csv`). As the files do not have a header, it's added using the `INTO` keyword, and the query also takes care of parsing timestamps.

In [5]:
%%view cdr
    SELECT *
    FROM read_csv("s3://raw-tutorial/ipython-demos/CDR.txt", cache := interval "1 day")
    INTO (
        tower: _1, caller: _2, callee: _3,
        start: to_timestamp(_4, "yyyy-MM-dd HH:mm:ss"),
        end: to_timestamp(_5, "yyyy-MM-dd HH:mm:ss"),
        type: _6
    )

In [6]:
%%query
SELECT *
FROM cdr
LIMIT 20

In [7]:
%%query
SELECT type, COUNT(*) AS n
FROM cdr
GROUP BY type

It can be interesting to focus on "power users" of the provider, like those which spend a large amount of time calling.

In [8]:
%%view power_users
SELECT caller
FROM cdr
GROUP BY caller
HAVING SUM(end-start) > interval "5 hours"

In [9]:
%%query
SELECT *
FROM power_users
LIMIT 10

Now that the power users have been identified, it's possible to restrict the CDR to these users.

In [10]:
%%query
SELECT COUNT(*)
FROM cdr
WHERE caller IN power_users

In [11]:
%%view cdr_power_users
SELECT *
FROM cdr
WHERE caller in power_users

The CDR info is now filtering the power users. We'd like to see where the phone calls have been done. The `tower` field is the internal identifier of the antennas of the provider. The location of antennas is known but it requires to access another external table.

In [12]:
%%query
SELECT *
FROM cdr_power_users
LIMIT 10

The antennas as found in an operational database. The `id` field is the one we need to join on, which will permit to extract the `city` where the antennas are located.

In [13]:
%%view towers
SELECT *
FROM read_csv[record(id: string, name: string, city: string, lat:double, long:double)](
    "s3://raw-tutorial/ipython-demos/antennas.csv",
    delimiter := "|",
    cache := interval "1 week"
)

In [14]:
%%query
SELECT *
FROM towers
WHERE city = "Lausanne"
LIMIT 10

In [15]:
%%query
SELECT DISTINCT city
FROM towers

Going back to our CDR data restricted to power users, we add a `city` field to the table which consists in picking the matching row found in the antenna table.

In [16]:
%%view cdr_power_by_city
SELECT tower, caller, callee, start, end, type,
    CFIRST(
        SELECT city
        FROM towers
        WHERE id = tower
    ) AS city
FROM cdr_power_users

Now the CDR rows have the city field.

In [17]:
%%query
SELECT *
FROM cdr_power_by_city
LIMIT 10

In [18]:
%%query
SELECT city, COUNT(*)
FROM cdr_power_by_city
GROUP BY city
LIMIT 10

Since the CDR contain the IMEI of callers, we can arrange IMEI's of callers by city. We still need to match these IMEI's to customers to get interesting statistics. This will be obtained thanks to a third external data source, the customer management system table (CMS).

In [19]:
%%query
SELECT city, (SELECT DISTINCT caller FROM partition LIMIT 10)
FROM cdr_power_by_city
GROUP BY city
LIMIT 2

CMS info is found in a second operation database table. It contains personal info about customers.

In [20]:
%%view cms
SELECT *
FROM read_csv[record(imei: long, first_name: string, name: string, gender: string, age: int, address:string)](
    "s3://raw-tutorial/ipython-demos/cms.csv",
    delimiter := "|",
    cache := interval "1 day"
)

In [21]:
%%query
SELECT *
FROM cms
LIMIT 10

Since we want to extract info from this table for each of the power users found in the various cities, we prepare a helper function. It takes an IMEI as a parameter and finds a match in the CMS table.

In [22]:
%%view customer_info
\imei:long ->
  CFIRST (
    SELECT *
    FROM cms c_info
    WHERE c_info.imei = imei
  )

In [23]:
%%query
customer_info(928147382718236)

We can now replace the internal IMEI reported in the CDR by the matching customer information.

In [24]:
%%query
SELECT city, SELECT customer_info(c) FROM c IN (SELECT DISTINCT caller FROM partition LIMIT 10)
FROM cdr_power_by_city
GROUP BY city
LIMIT 2

In [25]:
%%view power_users_by_city
SELECT city, (
    SELECT customer_info(caller) FROM caller IN (SELECT DISTINCT caller FROM partition)) AS users
FROM cdr_power_by_city
GROUP BY city

In [26]:
%%query
SELECT *
FROM power_users_by_city
WHERE city = "Lausanne"

Now that we have all the information we need, let's finalize a statistics table from this view.

In [27]:
%%view city_stats
SELECT city,
    (SELECT AVG(age) FROM users WHERE gender = "F") AS f,
    (SELECT AVG(age) FROM users WHERE gender = "M") AS m
FROM power_users_by_city

In [28]:
%%query
SELECT *
FROM city_stats

Back to our Excel file. We can project the content of the Excel file and query the `city_stats` view we just built. Now the rows are added the statistics information we wanted.

Unfortunately, there are little typos in the Excel file (the author didn't use accents while the antennas table does contain accents) and the match is failing for certain cities.

In [29]:
%%query
SELECT Location, PrintMedia, SocialMedia, Radio, Television, Total,
   CFIRST(SELECT * FROM city_stats WHERE city = Location) AS stats
FROM campaign

A solution: match the city name by similarity and pick the closest match. This permits to solve the problem.

In [30]:
%%query
SELECT Location, PrintMedia, SocialMedia, Radio, Television, Total,
   CFIRST(
       SELECT *
       FROM city_stats
       ORDER BY levenshtein_distance(city,Location)
       ASC) AS stats
FROM campaign